{{> menu active="account"}}

<section class="section">
  <h1 class="title">Edit Account Details</h1>
  <form action="/updateuser/{{user._id}}" method="POST">
    <label class="label">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder={{user.firstName}} name="firstName">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder={{user.lastName}} name="lastName">
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label> <input class="input" type="text" placeholder={{user.email}} name="email">
    </div>
    <div class="field">
      <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password" name="password">
    </div>
    <div class="field is-grouped">
      <button class="button is-link">Submit</button>
    </div>
  </form>
	<section class="section">
		<h1 class="title">Delete Account</h1>
		<a href="/deleteuser/{{user._id}}" class="button">
			<span class="icon is-small">
				<i class="fas fa-trash"></i>
			</span>
		</a>
	</section>
</section>